@{
    ViewBag.Title = "Home Page";
}


<section class="container" style="height: 600px;">
    
        <div class="col-md-3" style="border: 3px solid red; "> left </div>
        <div class="col-md-6" style="border: 2px solid blue;"> middle </div>
        <div class="col-md-3" style="border: 2px solid black;"> right </div>
 
    </section>